h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4,
.widget-title {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
.widget,
.widget-title {
	margin: 0 0 20px;
}
	.widget-title {
		line-height: 1.2em;
	}
#page {
	height: auto;
	min-height: 100%;
	padding: 0 0 250px;
}
.logo img {
	vertical-align: top;
	margin: 10px 0 0;
}
#footer-before {
	background: #4a4d50;
	min-height: 200px;
	border-bottom: 1px solid #fff;
	padding: 20px 0;
}
	#footer-before,
	#footer-before * {
		color: #fff;
	}

#footer {
	position: relative;
	height: 250px;
	background: #4a4d50;
	margin: -250px 0 0;
}
	#footer,
	#footer a {
		color: #fff;
	}
	.nexton {
		padding: 7px 0 0;
	}
		.nexton img { 
			vertical-align: middle;
		}